<!-- We are not counting the number of times we visit this page -->
<!-- But we are showing the number of times we visited the homepage -->
<section class="container">
  <section class="interest">
    <img src="/images/{{filename}}" alt="{{description}}">
    <div class="interest-details">
      <h3>{{savs}}</h3>
      <p>Category: {{category}}</p>
      <p>By: {{userId}}</p>
    </div>
  </section>
</section>